/* navbar.css */

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, #ff8c42, #ffcc70);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    width: 60px; /* Increased size of the logo */
    height: 60px; /* Increased size of the logo */
    margin-right: 10px;
  }
  
  .navbar-logo-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
  }
  
  .search-container {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .searchbar {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #7c4b0c;
    margin-bottom: 0;
    background-color: #fff;
    padding: 8px;
  }
  
  .navbar-button {
    background-color: #15b0f8;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 10px;
    padding: 8px 16px;
  }
  
  .navbar-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  
  .profileicon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #bc7e2d;
    margin-left: 10px;
  }
  