
/* SellPage.css */

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;
}

body{
  
  opacity: 1;
  background-image: radial-gradient(circle at center center, #e5bf7e, #e5e5f7), repeating-radial-gradient(circle at center center, #ece1ce, #d6bc76, 10px, transparent 20px, transparent 10px);

  background-blend-mode: multiply;
}

.sell-container {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 20px auto;
  opacity: 1;
  padding: 30px; /* Adjust the padding as needed */
  border: 1px solid #ccc;
  border-radius: 10px; /* Adjust the border-radius as needed */
  background-color: #fff;
}

.sell-section {
  margin-bottom: 20px;
}

h1 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Add some margin at the bottom for spacing */
} 
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.upload-photo {
  display: flex;
  flex-direction: column;
}

.upload-photo input {
  display: none;
}

.upload-photo label {
  cursor: pointer;
  background-color: #15b0f8;
  color: #fff;
  padding: 15px; /* Adjust the padding as needed */
  text-align: center;
  border-radius: 5px; /* Adjust the border-radius as needed */
}

textarea,
input[type="text"],
select {
  width: 100%;
  padding: 15px; /* Adjust the padding as needed */
  margin-top: 10px; /* Adjust the margin as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #15b0f8;
  color: #fff;
  padding: 15px; /* Adjust the padding as needed */
  cursor: pointer;
  border: none;
  border-radius: 5px;
}