/* ChangePassword.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .change-password-box {
    /* Add styles specific to the Change Password container */
    background-color: #fff; /* Set the background color as needed */
    border: 1px solid #ddd; /* Add borders or any other styling */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message {
    color: green;
    margin-bottom: 16px;
  }
  
  .error {
    color: red;
    margin-bottom: 16px;
  }
  